/*Fondos*/
html {
    background-color: black;
}

img {
    height: 90px;

}

header {
    font-size: 45px;
    text-align: center;
    background-color: rgb(104, 169, 222);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .email {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-weight: bold;
}

 nav {
    background-color:  rgb(129, 182, 226);
  }

  /*Botones*/
.my-btn2 {
    background-color: rgb(129, 182, 226);
    border: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  .my-btn3 {
    background-color: rgb(129, 182, 226);
    border: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }

  /*Foto perfil*/
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  

/*El body*/

p {
    
    color: rgb(255, 255, 255);
    font-family:monospace;
    font-size: 20px;
    text-align: center;
}

.flashcard {
    background-color:rgb(18, 28, 36) ;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 300px;
    border: 1px solid rgb(18, 28, 36);
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.flashcard h3 {
    color: #ccc;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}
.flashcard img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}