/*Aquí va header*/

/*Termina aquí*/
html {
    background-color: rgb(24, 26, 41);
  }
  
  /* Estilos para la lista de canciones */
  .song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .song-list li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #c3dff5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .song-list h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .song-list p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
  }
  
  .song-list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #3c91d1;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .song-list a:hover {
    background-color: #274471;
  }
  
  .my-btn {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #3c91d1;
    border: none;
    border-radius: 5px;
    padding: 9px 702px;
    text-decoration: none;
  }
  
  .my-btn:hover {
    background-color: #274471;
  }
  