/*Aqui empieza el css de Header y botón*/
header {
  font-size: 50px;
  text-align: center;
  background-color: rgb(110,185,255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(110,185,255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
}

.dropdown-btn {
  background-color:  rgb(110,185,255);
  border: rgb(110,185,255);
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  font-size: 40px;
  position: absolute;
  background-color: rgb(9 161,209,255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  position: fixed;
  top: 70px;
  right: 20px;
  height: 200px;
  width: 200px;
}
/*Aqui empieza el css de descargas y género*/
nav {
  background-color: rgb(150,204,255);
  height: 50px;
}