
header {
  font-size: 45px;
  text-align: center;
  background-color: rgb(104, 169, 222);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown-container {
  position: relative;
  float: right;
}

.dropdown-btn {
  background-color: rgb(104, 169, 222);
  border: none;
  color: rgb(104, 169, 222);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5px;
  height: 20px;
  width: 5px;
  padding: 10px;
  cursor: pointer;
}

img {
  height: 40px;
  padding: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(129, 182, 226);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  padding: 10px;
  right: -0.3px;
  font-size: 20px;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Aquí empiezan los demás botones */
nav {
  background-color: rgb(129, 182, 226);
}

.Buttons2 {
  text-align: left;
}

.my-btn2 {
  background-color: rgb(129, 182, 226);
  border: none;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.dropdown-container2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: rgb(104, 169, 222);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  padding: 10px;
}

.dropdown-container2:hover .dropdown-content2 {
  display: block;
}

/*Contents*/
 /*LO MAS NUEVO*/
.imagenes, .imagenesD {
  display: inline-block;
}

.imagen-modificada {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.imagen-modificadaD {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}
 /*G*/
.imagenesD, .imagenesG {
  display: inline-block;
}

.imagen-modificadaG {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}


/*S*/
.imagenesG, .imagenesS {
  display: inline-block;
}

.imagen-modificadaS {
  height: 200px;
  width: 200px;
}

/*NIRVANA*/

.imagenes2, .imagenes3 {
  display: inline-block;
}

.imagen-modificada2 {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.imagen-modificada3 {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.imagenes3, .imagenes4 {
  display: inline-block;
}

.imagen-modificada4 {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

