/*Fondos*/
html {
    background-color: black;
}

img {
    height: 90px;

}

header {
    font-size: 45px;
    text-align: center;
    background-color: rgb(104, 169, 222);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .email {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-weight: bold;
}

 nav {
    background-color:  rgb(129, 182, 226);
  }

  /*Botones*/
.my-btn2 {
    background-color: rgb(129, 182, 226);
    border: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  .my-btn3 {
    background-color: rgb(129, 182, 226);
    border: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }
  